<form method="POST" action="/magicalLinkCreation">
  <h1 class="webTitle"> Bonfhir </h1>
  <div class="linkSubmitForm">URL:<input name="url" type="text"> Title:<input name="title" type="text"><input type="submit" value="Submit Link!"></div>
</form>
