<form method="POST" action="/magicalLinkCreation">
  <h1 class="webTitle"> Bonfhir </h1>
  <div class="linkSubmitForm">EthercisEHR REST API Port:<input name="url" type="text" value="8888">
  <div class="linkSubmitForm">OpenEMPI REST API:<input name="url" type="text" value="8080"></div>
  <input type="submit" value="Submit Form!">
</form>
