.container {
   height: auto;
   overflow: hidden;
}

.navigation {
    width: 200px;
    height: 100%;
    float: left;
    background-color: #23282d;
    padding: 20px 20px 20px 20px;
}

.link {
    display: block;
    color: #ffffff;
    text-decoration: none;
    font-family: Verdana, Geneva, sans-serif;
}

.settings {
    background-color: #f1f1f1;
    overflow: hidden;
    float: none;
    width: auto;
    height: 100%;
    padding: 20px 20px 20px 20px;
}
