<form method="POST" action="/patients/addpatient">
  <h1> Add a Patient </h1>
  <div class="container">
    <div class="form-group row">
      <label for="id" class="col-2 col-form-label">id</label>
      <div class="col-10">
        <input class="form-control" type="text" name="id" id="id">
      </div>
    </div>
    <div class="form-group row">
      <label for="email" class="col-2 col-form-label">Given Name</label>
      <div class="col-10">
        <input class="form-control" type="text" name="given" id="given">
      </div>
    </div>
    <div class="form-group row">
      <label for="phone" class="col-2 col-form-label">Family Name</label>
      <div class="col-10">
        <input class="form-control" type="text" name="family" id="family">
      </div>
    </div>
    <div class="form-group row">
      <label for="birthdate" class="col-2 col-form-label">Birthdate</label>
      <div class="col-10">
        <input class="form-control" type="text" name="birthdate" id="Birthdate">
      </div>
    </div>
    <div class="form-group row">
      <label for="phone" class="col-2 col-form-label">Gender</label>
      <div class="col-10">
        <input class="form-control" name="gender" id="gender">
      </div>
    </div>
    <div class="form-group row">
      <label for="phone" class="col-2 col-form-label">Address</label>
      <div class="col-10">
        <input class="form-control" type="text" name="adress" id="address">
      </div>
    </div>
    <div class="form-group row">
      <label for="phone" class="col-2 col-form-label">Phone Number</label>
      <div class="col-10">
        <input class="form-control" type="text" name="phone" id="phone">
      </div>
    </div>
    <div class="form-group row">
      <label for="phone" class="col-2 col-form-label">SSN</label>
      <div class="col-10">
        <input class="form-control" type="text" name="ssn" id="ssn">
      </div>
    </div>
    <input type="submit" value="Submit"><br><br></div>
</form>
