<form method="POST" action="/patients/addpatient">
  <h1> Add a Patient </h1>
  <div class="container">
    <div class="form-group row">
      <label for="ID" class="col-2 col-form-label">ID</label>
      <div class="col-10">
        <input class="form-control" type="text" name="ID" id="ID">
      </div>
    </div>
    <div class="form-group row">
      <label for="birthdate" class="col-2 col-form-label">Birthdate</label>
      <div class="col-10">
        <input class="form-control" type="search" name="birthdate" id="Birthdate">
      </div>
    </div>
    <div class="form-group row">
      <label for="email" class="col-2 col-form-label">Given Name</label>
      <div class="col-10">
        <input class="form-control" name="givenName" id="givenName">
      </div>
    </div>
    <div class="form-group row">
      <label for="phone" class="col-2 col-form-label">Family Name</label>
      <div class="col-10">
        <input class="form-control" name="familyName" id="familyName">
      </div>
    </div>
    <input type="submit" value="Submit"><br><br></div>
</form>
