<form method="POST" action="/patients/addpatient">
  <h1> Add a Patient </h1>
  <div class="container">
    <div class="form-group row">
      <label for="email" class="col-2 col-form-label">Given Name</label>
      <div class="col-10">
        <input class="form-control" type="text" name="given" id="given">
      </div>
    </div>
    <div class="form-group row">
      <label for="phone" class="col-2 col-form-label">Family Name</label>
      <div class="col-10">
        <input class="form-control" type="text" name="family" id="family">
      </div>
    </div>
    <div class="form-group row">
      <label for="birthdate" class="col-2 col-form-label">Birthdate</label>
      <div class="col-10">
        <input class="form-control" type="text" name="birthDate" id="birthDate">
      </div>
    </div>
    <div class="form-group row">
      <label for="phone" class="col-2 col-form-label">Gender</label>
      <div class="col-10">
        <input class="form-control" name="gender" id="gender">
      </div>
    </div>
    <div class="form-group row">
      <label for="phone" class="col-2 col-form-label">Address</label>
      <div class="col-10">
        <input class="form-control" type="text" name="adress" id="address">
      </div>
    </div>
    <div class="form-group row">
      <label for="phone" class="col-2 col-form-label">NHS Number</label>
      <div class="col-10">
        <input class="form-control" type="text" name="nhs" id="nhs">
      </div>
    </div>
    <input type="submit" value="Submit"><br><br></div>
</form>
